doctype html
html
  head
    meta
    title
    link(rel="stylesheet", href="css/main.css")
    link
    link
  body
    main
      #header
        ul#topContacts
          li.bio BioStory
          li.work WorkStory
      #workExperience
      #education
      #projects
      #mapDiv
      #lets-connect
        ul#footerContacts
