doctype html
html
head
  title practice for jade
  meta(charset = 'utf-8')
  meta(name = 'viewport', content = 'width=device-width', initial-scale = 1.0)
  link(rel = 'stylesheet', href = '/css/teststyle.css') 
body 
  header 
    p.header what is the world going to think when they find out, I dont care really cause its none of my business 
  .container